<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Not Found Page</title>
</head>

<body>
    <p> We are sorry, the page your requested could not be found. Please go back to the homepage</p>
    <button class="btn-home btn-primary"> <a href="/">Go Back Home</a> </button>
</body>

</html>