<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Trinews</title>
  <link rel="stylesheet" href="style2.css">
  <link rel="icon" href="trinews_favicon.jpg">
</head>

<body>
  <%- include('header') %>
    <div class="container">
      <!-- parallax -->
      <div class="parallax">
        <div class="caption">
          <span class="border">ABOUT TRINEWS</span>
        </div>
      </div>

      <!-- about me -->
      <div class="aboutme">
        <p>Dolorem et laborum non ut voluptatum et consequatur est. Consectetur voluptatem qui sit et id incidunt.
          Quis voluptatem earum blanditiis accusantium quis qui sunt et. Illum sequi sed quae. Asperiores rerum et
          consequuntur ut unde quasi. Adipisci enim in molestiae assumenda quos. Occaecati iste ut illum dolorum quam
          explicabo consectetur quam quo. Aut iure rerum qui. Neque et quia sunt dolore eveniet labore omnis.Et dolorum similique rerum aut. Debitis culpa facilis deserunt deleniti rerum rerum non necessitatibus exercitationem. Iure tempora iste in id eum ipsum ea quisquam ex. Dolorem accusamus voluptatem. Autem qui in magnam molestiae consequatur officiis. Veritatis quo iure nam repudiandae quo incidunt consequatur voluptatum.</p>
      </div>

      <div class="container pt-5 pb-5 mt-3 mb-3 border-top border-bottom">
      <h3 class="">Our Publishers</h3>
    </div>
      <!-- akhir about me -->
      <br><br><br>
      <!-- bio -->
      <div class="row padded-block">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 no-pads">
              <img src="image4.png" alt="" width="300px" class="img-fluid">
            </div>
            <div class="col-md-6 padded-text">
              <h2>Rayhan Alya Chaerul</h2>
              <p>Odio quos quia nihil aut omnis.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 padded-text">
              <h2>Abdur Rohim</h2>
              <p>Repellat non earum fugit maxime nihil est repellendus.</p>
            </div>
            <div class="col-md-6 no-pads">
              <img src="image2.png" alt="" width="300px" class="img-fluid">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 no-pads">
              <img src="image3.png" alt="" width="300px" class="img-fluid">
            </div>
            <div class="col-md-6 padded-text">
              <h2>Dwiky Loki</h2>
              <p>Libero non qui voluptas et est eligendi id reprehenderit.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 padded-text">
              <h2>Faisal Juliandra</h2>
              <p>Molestiae qui ut cumque animi odit omnis.</p>
            </div>
            <div class="col-md-6 no-pads">
              <img src="image1.png" alt="" width="300px" class="img-fluid">
            </div>
          </div>
        </div>
        <!-- akhir bio -->
        <br><br><br>
      </div>
      <%- include('footer') %>
</body>

</html>