<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div class="container">
        <!-- parallax -->
        <div class="parallax">
            <div class="caption">
                <span class="border">TRINEWS</span>
            </div>
        </div>

        <!-- about me -->
        <div class="aboutme">
            <p>Dolorem et laborum non ut voluptatum et consequatur est. Consectetur voluptatem qui sit et id incidunt.
                Quis voluptatem earum blanditiis accusantium quis qui sunt et. Illum sequi sed quae. Asperiores rerum et
                consequuntur ut unde quasi. Adipisci enim in molestiae assumenda quos.</p>
        </div>
        <!-- akhir about me -->
        <br><br><br>
        <!-- bio -->
        <div class="row">
            <div class="col-2"></div>
            <div class="about1 col-4">
                <img src="image4.png" alt="" width="300px" class="img-fluid">
            </div>
            <div class="about2 col-1">
                <p>Reyhan Alya Chaerul</p>
            </div>
            <div class="about3 col-3">
                <p>sdklsalslsalsjdlskjlasjdlsjdlsjlaksjlsa</p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="about3 col-3">
                <p>sdklsalslsalsjdlskjlasjdlsjdlsjlaksjlsa</p>
            </div>
            <div class="about2 col-1">
                <p>Abdur Rohim</p>
            </div>
            <div class="about1 col-4">
                <img src="image2.png" alt="" width="300px" class="img-fluid">
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="about1 col-4">
                <img src="image3.png" alt="" width="300px" class="img-fluid">
            </div>
            <div class="about2 col-1">
                <p>Dwiky Loki</p>
            </div>
            <div class="about3 col-3">
                <p>sdklsalslsalsjdlskjlasjdlsjdlsjlaksjlsa</p>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="about3 col-3">
                <p>sdklsalslsalsjdlskjlasjdlsjdlsjlaksjlsa</p>
            </div>
            <div class="about2 col-1">
                <p>Faisal Juliandra</p>
            </div>
            <div class="about1 col-4">
                <img src="image1.png" alt="" width="300px" class="img-fluid">
            </div>
            <div class="col-2"></div>
        </div>
        <!-- akhir bio -->
        <br><br><br>
    </div>
</body>

</html>