<!-- including CSS file -->
<link rel="stylesheet" href="style.css" />

<!-- Footer Content-->
<footer class="section-footer mt-5 mb-4 border-top">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h5 class="mb-4">NEWS</h5>
            <ul class="list-unstyled">
              <li>Olahraga</li>
              <li>Ekonomi</li>
              <li>Asmara</li>
              <li>Bencana Alam</li>
            </ul>
          </div>

          <div class="col-12 col-lg-4">
            <h5 class="mb-4">COMPANY</h5>
            <ul class="list-unstyled">
              <li>About Us</li>
              <li>Advertisment</li>
              <li>Help Center</li>
              <li>Journalists</li>
            </ul>
          </div>

          <div class="col-12 col-lg-4">
            <h5 class="mb-4">GET CONNECTED</h5>
            <ul class="list-unstyled">
              <li>Virtual</li>
              <li>Indonesia</li>
              <li>081 - 123 - 345</li>
              <li>mail@trinews.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row border-top justify-content-center align-items-center pt-4">
      <div class="col-auto text-gray-500 font-weight-light">
        2021 Copyright Trinews • All rights reserved • Made Virtually
      </div>
    </div>
  </div>
</footer>
