<!-- including CSS file -->
<link rel="stylesheet" href="style.css" />

<!--Navbar-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white mb-5">
    <div class="navbar-nav mr-auto">
      <a href="/" class="navbar-brand"> <img src="logo.jpg" alt="" /> </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mt-5">
          <li class="nav-item mx-md-2">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="about" class="nav-link">About</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="nolahraga" class="nav-link">Olahraga</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="nekonomi" class="nav-link">Ekonomi</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="ngosip" class="nav-link">Asmara</a>
          </li>
          <li class="nav-item mx-md-2">
            <a href="nbencana" class="nav-link">Bencana Alam</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
