<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Anonym News</h1>
    <h3>Selamat datang di situs berita No.1
        <br><i>terlengkap</i> dan <i>terupdate</i> di SYNRGY Academy
    </h3>
    <h5>
        <%= counter %> kali dikunjungi pada hari ini
    </h5>

    <% for( let i=0; i < news.length; i++ ) { %>
        <p>
            <a href="<%= news[i] %> ">
                <%= news[i] %>
            </a>
            <% } %>
        </p>

        <!-- [ {title: "abc", image: "", paragraf: ""}, {}, {}] -->
</body>

</html>