<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Selamat Datang
        <br>di trinews
    </h1>

    <h3>Situs berita No.1
        <br>terlengkap dan terupdate
        <br>di SYNRGY Academy
    </h3>

    <% for( let i=0; i < news.length; i++ ) { %>
        <p>
            <a href="<%= news[i] %>">
                <%= title[i] %>
            </a>
            <% } %>
        </p>
        <h5>
            <%= counter %> kali dikunjungi pada hari ini
        </h5>

        <!-- [ {title: "abc", image: "", paragraf: ""}, {}, {}] -->
</body>

</html>