<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bencana Alam</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="erupsi-gunung-merapi.jpeg" alt="img" class="img-custom">
    <h1>Erupsi Gunung Merapi</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, et! Natus illum harum odit expedita eius
        laborum, itaque quasi? Ad reprehenderit eum accusamus officia excepturi laborum sequi aperiam rerum nostrum.
    </p>
    <p>
        Qui eum quis. Quibusdam ullam rerum delectus fugiat amet molestiae. Et corrupti sed ipsam unde est eos qui
        veritatis. Explicabo est dolore. Voluptate amet et officia aspernatur odit et earum autem velit. Occaecati et
        cum et facere voluptatem sed.
    </p>

    <a href="/about">Go to about</a>
    <script src="script.js"></script>
</body>

</html>