<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bencana Alam</title>
    <link rel="stylesheet" href="style2.css" />
  </head>

  <body>
    <%- include('header') %>
    <div class="bencana"></div>
    <div class="container">
      <div class="container pt-5 pb-5 mt-5 mb-4 border-top border-bottom">
        <h1>Erupsi Gunung Merapi</h1>
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, et!
        Natus illum harum odit expedita eius laborum, itaque quasi? Ad
        reprehenderit eum accusamus officia excepturi laborum sequi aperiam
        rerum nostrum. Aut culpa expedita hic sint. Dolores aut et fugit et id
        aspernatur error qui. Iusto veritatis non tempora in aut eos delectus
        aut magnam. Aut doloribus quis veritatis laudantium eveniet est quisquam
        veritatis.
      </p>
      <p>
        Qui eum quis. Quibusdam ullam rerum delectus fugiat amet molestiae. Et
        corrupti sed ipsam unde est eos qui veritatis. Explicabo est dolore.
        Voluptate amet et officia aspernatur odit et earum autem velit.
        Occaecati et cum et facere voluptatem sed. Molestiae sed praesentium
        aperiam tenetur sit cupiditate odio optio cum. Aut est neque aperiam
        laboriosam reprehenderit minima. Iure recusandae repellendus deserunt
        saepe est. Fuga adipisci nesciunt id et eligendi nobis. Corrupti dolores
        qui totam quas soluta non sint labore. Sapiente corporis labore.
      </p>
    </div>
    <%- include('footer') %>
  </body>
</html>
