<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ekonomi</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="saham.jpg" alt="img" class="img-custom">
    <h1>Saham-saham di Indonesia merosot</h1>
    <p>
        Ut dolorem corporis facere autem quidem. Enim accusantium repudiandae magnam quo qui omnis voluptas. Sunt
        assumenda iste repellendus. Eius suscipit tenetur explicabo ducimus et. Ut asperiores officiis et. Magni vel
        deleniti quia esse in.
    </p>
    <p>
        Eos accusantium est ducimus aspernatur id ratione nemo.
        Eaque et est dignissimos a deserunt nesciunt ipsum repellendus.
        Dolor eius hic dolores mollitia veniam optio.
    </p>

    <a href="/about">Go to about</a>
    <script src="script.js"></script>
</body>

</html>