<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ekonomi</title>
  <link rel="stylesheet" href="style2.css" />
  <link rel="icon" href="trinews_favicon.jpg">
</head>

<body>
  <%- include('header') %>
    <div class="saham"></div>
    <div class="container">
      <div class="container pt-5 pb-5 mt-5 mb-4 border-top border-bottom">
        <h1>Saham-saham di Indonesia merosot</h1>
      </div>
      <p>
        Ut dolorem corporis facere autem quidem. Enim accusantium repudiandae
        magnam quo qui omnis voluptas. Sunt assumenda iste repellendus. Eius
        suscipit tenetur explicabo ducimus et. Ut asperiores officiis et. Magni
        vel deleniti quia esse in. Numquam sed qui nisi.Odio corrupti iste ea
        iure architecto velit veritatis.
      </p>
      <p>
        Eos accusantium est ducimus aspernatur id ratione nemo. Eaque et est
        dignissimos a deserunt nesciunt ipsum repellendus. Dolor eius hic
        dolores mollitia veniam optio. Ut consequatur error quo saepe eos
        corrupti. Consequatur odio quasi officiis et eveniet et alias est.
      </p>
      <p>
        Molestiae rem molestiae molestias officiis repellendus. Autem nemo
        occaecati. Autem et qui deserunt officia. Porro incidunt quisquam
        excepturi. Rerum dolores reiciendis. Provident est quo qui cupiditate
        aut laudantium eligendi velit. Non fugit dolor aut. Sed et nulla natus
        neque est placeat.
      </p>
    </div>
    <%- include('footer') %>
</body>

</html>