<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berita Terkini</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Berita Terkini Sekitar Erupsi Gunung Merapi</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, et! Natus illum harum odit expedita eius
        laborum, itaque quasi? Ad reprehenderit eum accusamus officia excepturi laborum sequi aperiam rerum nostrum.
    </p>
    <h2></h2>
    <a href="/about">Go to about</a>
    <script src="script.js"></script>
</body>

</html>