<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertain</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="amandaBilly.jpg" alt="img" class="img-custom">
    <h1>Nasib Hubungan Amanda Manopo dan Billy Sayahputra</h1>
    <p>Ut dolorem corporis facere autem quidem. Enim accusantium repudiandae magnam quo qui omnis voluptas. Sunt
        assumenda iste repellendus. Eius suscipit tenetur explicabo ducimus et. Ut asperiores officiis et. Magni vel
        deleniti quia esse in.
    </p>
    <p>Fuga fuga quo rem excepturi quidem cum molestias.
        Autem asperiores accusamus repudiandae voluptas assumenda et.
        Odit nulla asperiores.
        Aut voluptatem ducimus voluptas nesciunt ea.
        Delectus ab fuga quia ea.
    </p>

    <a href="/about">Go to about</a>
    <script src="script.js"></script>
</body>

</html>