<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entertain</title>
    <link rel="stylesheet" href="style2.css" />
  </head>

  <body>
    <%- include('header') %>
    <div class="asmara"></div>
    <div class="container">
      <div class="container pt-5 pb-5 mt-5 mb-4 border-top border-bottom">
        <h1>
          Beginilah Nasib Hubungan Amanda Manopo dan Billy Syahputra! Akankah
          mereka saling sepakat?
        </h1>
      </div>
      <p>
        Ut dolorem corporis facere autem quidem. Enim accusantium repudiandae
        magnam quo qui omnis voluptas. Sunt assumenda iste repellendus. Eius
        suscipit tenetur explicabo ducimus et. Ut asperiores officiis et. Magni
        vel deleniti quia esse in. Autem dolorem recusandae dolorem enim tempore
        a excepturi.
      </p>
      <p>
        Fuga fuga quo rem excepturi quidem cum molestias. Autem asperiores
        accusamus repudiandae voluptas assumenda et. Odit nulla asperiores. Aut
        voluptatem ducimus voluptas nesciunt ea. Delectus ab fuga quia ea.
        Libero consectetur sed.
      </p>
      <p>
        Aut voluptatem vero ea qui. Quae unde adipisci possimus eum rerum
        tempore voluptatem labore temporibus. Aliquam quae consequatur et sit
        deserunt ullam. Corporis voluptatem voluptas quasi. Nostrum dolor ut
        aliquid ad quae quisquam magni eligendi dolorem. Sed qui omnis alias et
        possimus dolore.
      </p>
    </div>

    <%- include('footer') %>
  </body>
</html>
