<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olahraga</title>
    <link rel="stylesheet" href="style2.css" />
  </head>

  <body>
    <%- include('header') %>
    <div class="badminton"></div>
    <div class="container">
      <div class="container pt-5 pb-5 mt-5 mb-4 border-top border-bottom">
        <h1>Badminton Indonesia kembali meraih kemenangan</h1>
      </div>
      <p>
        Ut dolorem corporis facere autem quidem. Enim accusantium repudiandae
        magnam quo qui omnis voluptas. Sunt assumenda iste repellendus. Eius
        suscipit tenetur explicabo ducimus et. Ut asperiores officiis et. Magni
        vel deleniti quia esse in. Placeat saepe error consectetur reiciendis.
        Molestiae numquam sed tempora vel id cupiditate laborum.
      </p>
      <p>
        Excepturi molestiae sunt magnam consequatur. Hic omnis nihil consequatur
        ut. Iste nisi mollitia vel consequuntur. Non libero eligendi omnis quam
        officia. Deleniti deserunt aliquid cupiditate est repellat et est quae.
        Et nisi impedit omnis necessitatibus saepe nihil sed. Animi magnam in
        odit nulla quis quo. Consequatur numquam autem. Non quasi fuga. Aliquid
        quae sunt tempore consectetur et est nemo assumenda. Laboriosam deleniti
        cumque molestiae et aperiam quam sed.
      </p>
      <p>
        Praesentium ipsa consequatur sit laudantium ratione est. Perspiciatis
        aut excepturi adipisci non ut aut rerum corporis ut. Quia dolores unde
        numquam reprehenderit dicta deserunt. Enim quia quia autem error sunt
        officia. Minus neque sapiente quo. Magnam consequuntur omnis sint
        maiores consequatur eaque.
      </p>
    </div>
    <%- include('footer') %>
  </body>
</html>
